<div class="gray-bg">
  <!-- whats new today -->
  <div class="ui container">
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="row">
    <!-- Recent Searches -->
    <div class="col-sm-3">
            <div class="common-heading">|Recent Searches</div>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src=""/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src=""/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src=""/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
    </div>
    <!-- Inspired by your interest -->
    <div class="col-sm-9">
      <div class="common-heading">|Inspired by your interest</div>
          <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
          </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="row">
    <div class="col-sm">

      </div>
    <div class="col-sm">

      </div>
    <div class="col-sm">

      </div>
    <div class="col-sm">

      </div>
  </div>
</div>

<!-- Recommended by your circle -->
<div class="ui container">
  <div class="common-heading">Recommended by your circle </div>
  <div class="row">
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
      <div class="col-sm">

        </div>
  </div>
</div>

<!-- Notification Section -->
<div class="ui container">
    <div class="row">
      <div class="col-sm-5">
        <div class="common-heading">My Voice</div>

        </div>
      <div class="col-sm">
        <div class="common-heading">Trending</div>

        </div>
      <div class="col-sm">
        <div class="common-heading">Feeds</div>

      </div>
    </div>
</div>

