
<app-header></app-header>

<td-expansion-panel [expand]="true">
  <ng-template td-expansion-panel-label>
    <span>Google</span>
  </ng-template>
  <ng-template td-expansion-panel-sublabel>
    <span>1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA</span>
  </ng-template>
  <td-expansion-summary>
  </td-expansion-summary>
  <form class="md-padding">
    <div layout="row">
      <md-form-field flex>
        <input mdInput placeholder="Company (disabled)" disabled value="Google"/>
      </md-form-field>
    </div>
    <div layout="row"><md-form-field flex>
        <textarea mdInput placeholder="Description" rows="4"></textarea>
      </md-form-field>
    </div>
  </form>
  <div layout="row" class="pad-sm">
    <button md-button color="accent" class="text-upper">Save</button>
    <button md-button class="text-upper">Cancel</button>
  </div>
</td-expansion-panel>-->

<!--<app-main></app-main>-->
